.mb-stale {
  color: #a4262c;
}

.mb-cell-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.repo-filter {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pr-count-cell {
  cursor: pointer;
  color: var(--communication-foreground);
}

.pr-count-cell:hover {
  text-decoration: underline;
}
